* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    background-color: rgb(153, 153, 223);

}
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

.header {
    padding-top: 40px;
    background: url('../img/photo-1540575467063-178a50c2df87.jpg') no-repeat center / cover;
    padding-bottom: 218px;
}
.container {
    max-width: 1315px;
    margin: 0 auto;
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    filter: blur(0px);
    
}
.logo {
    margin-right: 200px;
    filter: blur(0px);
    transition: transform .7s ease-in-out;
}
.logo:hover {
    transform: rotate(360deg);
}
.btn {
    margin-left: 300px;
    width: 170px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #7C6AFA;
    padding: 10px 30px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}
.btn:hover {
    background-color: #be9be6;  
}
.btn-second {
    display: inline-block;
    margin-left: 0;
    background-color: #b31bb6;
}
.btn-second:hover {
    background-color: #DF5950;
}
.menu-list {
    display: flex;
    list-style-type: none;
    gap: 56px;
    transition: all 0.5s ease-out;
}
.menu-list li {
    transition: border-bottom 0.3s ease; 
    border-bottom: 2px solid transparent; 
}
.menu-list li:hover {
    border-bottom: 2px solid #ffffff;
}
.main-text {
    margin-top: 198px;
    width: 920px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.4;
}
.timer-wrapper {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.timer {
    background: #726868;
    padding: 20px 30px;
    text-align: center;
}
.timer .timer-numbers {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
}
.timer .timer-letters {
    font-size: 16px;
    line-height: 1.4;
    color: rgb(230, 229, 229);
}
.header-footer {
    background: #121212;
    height: 130px;
}
.header-footer__content {
    padding-top: 43px;
}